.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #3a5fcd;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

/*.navbar {
    margin-bottom: 0;
    background-color: #4a708b;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}*/

.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #27408b !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

#myCarousel {
  background-color: #2c4353
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.bg-grey {
    background-color: #f6f6f6;
}